.layout
  padding: 76px 0px
  background-color: #FFFFFF

.container
  width: 944px
  margin: 0 auto
  transition: width 1s ease 0s

.title
  margin: 0
  font-family: serif
  font-size: 36px
  font-weight: 500
  line-height: 1.6
  color: #333333

.subTitle
  margin: 0
  font-size: 18px
  line-height: 1.4

@media only screen and (min-width: 876px) and (max-width: 999px)
  .container
    width: 832px

@media only screen and (min-width: 728px) and (max-width: 875px)
  .container
    width: 656px

@media only screen and (min-width: 528px) and (max-width: 727px)
  .layout
    padding: 40px 36px

  .container
    width: 456px

  .title
    font-size: 32px

@media only screen and (max-width: 527px)
  .layout
    padding: 40px 36px

  .container
    width: 100%

  .title
    font-size: 32px
