.layout
  padding: 76px 0px
  background-color: #FFFFFF
  // background-image: linear-gradient(to top, #feada6 0%, #ffffff 20%)

.container
  width: 944px
  margin: 0 auto
  transition: width 1s ease 0s

.title
  font-family: serif
  line-height: 1.6
  margin: 0
  font-size: 36px
  color: #333333

.subTitle
  margin: 0
  font-size: 18px

@media only screen and (min-width: 1000px) and (max-width: 1299px)
  .container
    width: 944px

@media only screen and (min-width: 876px) and (max-width: 999px)
  .container
    width: 832px

@media only screen and (min-width: 728px) and (max-width: 875px)
  .container
    width: 656px

@media only screen and (min-width: 528px) and (max-width: 727px)
  .layout
    padding: 40px 16px

  .container
    width: 456px

  .title
    font-size: 32px

@media only screen and (max-width: 527px)
  .layout
    padding: 40px 56px

  .container
    width: 100%

  .title
    font-size: 32px
