.container
  min-height: 90vh
  background-image: url("../../../public/image/user-image.jpg")
  background-size: cover
  background-position: 60% -50%
  background-attachment: fixed
  background-repeat: no-repeat
  display: flex
  align-items: center
  justify-content: center
  transition: font-size 1s ease 0s, background-position 1s ease 0s

.gradientText
  font-size: calc(10px + 3vmin)
  text-align: center
  color: transparent
  background-image: linear-gradient(to top, #ffffff 20%, #fad0c4 50%, #ffffff 80%)
  background-clip: text

.title
  font-size: 36px

@media screen and (min-width:481px)
  .title
    font-size: 56px

  .container
    min-height: 100vh
    background-size: cover
    background-position: center 25%
