.test
  height: 90vh
  // width: 100vh

.container
  min-height: 90vh
  // height: 90vh
  background-image: url("../../../public/image/user-image-mobile.jpg")
  background-size: cover
  background-position: 60% 0% //FIXME:
  background-attachment: fixed
  display: flex
  align-items: center
  justify-content: center
  transition: font-size 1s ease 0s, background-position 1s ease 0s

.gradientText
  font-size: calc(10px + 3vmin)
  text-align: center
  color: transparent
  background-image: linear-gradient(to top, #ffffff 20%, #fad0c4 50%, #ffffff 80%)
  background-clip: text

.title
  font-size: 36px

@media only screen and  (min-width:481px)
  .test
    height: 100vh

  .container
    background-image: url("../../../public/image/user-image.jpg")
    background-size: cover

    min-height: 100vh
    background-position: 50% 25%

  .title
    font-size: 56px
